/* Main Content Styles */
.main-content {
    text-align: center;
}

.main-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 1.25rem;
}

.card-deck .card {
    margin-bottom: 30px; /* Add space between cards */
}

.card-img-top {
    height: 200px; /* Adjust this value as needed */
    object-fit: cover;
}

/* Ensure that the text is visible */
.main-content a {
    color: #010913; /* Primary link color */
}

.main-content a:hover {
    color: #0056b3; /* Darker color on hover */
}

/* Ensure container max-width */
.container {
    max-width: 1200px; /* Adjust the maximum width */
}

/* Navbar styles */
.navbar-nav {
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.navbar-nav .nav-item {
    padding: 0 10px; /* Adjust padding for better alignment */
}

.navbar-nav .nav-item .nav-link {
    padding: 0.5rem 1rem; /* Adjust padding for better alignment */
}

.navbar-nav .nav-item .nav-link:hover {
    color: #010913; /* Darker color on hover for all links */
}

/* Right-aligned links */
.navbar-nav.ml-auto {
    margin-left: auto;
}

/* Add profile-link class to push it to the right */
.navbar-nav .profile-link {
    margin-right: 2rem; /* Space from the right edge */
}

.navbar-nav .nav-item:last-child .nav-link {
    margin-left: 1rem; /* Space between Profile and Logout links */
}

/* Button styles */
.btn-primary {
    background-color: #010913; /* Darker primary color */
    border-color: #010913; /* Darker border color */
}

.btn-primary:hover {
    background-color: #010913; /* Even darker primary color on hover */
    border-color: #010913; /* Even darker border color on hover */
}

/* View Details Button */
.btn-primary {
    background-color: #0056b3; /* Darker primary color for the button */
    border-color: #0056b3; /* Darker border color for the button */
}

.btn-primary:hover {
    background-color: #003d7a; /* Even darker color on hover */
    border-color: #003d7a; /* Even darker border color on hover */
}
